.container {
  display: flex;
  height: 85vh;
  justify-content: space-around;
  flex-direction: row;
  align-items: center;
  transition: all 0.3s ease;
  gap: 0 5rem;
}

.profileBox {
  display: flex;
  flex-direction: column;
  align-items: center;
  transition: all 0.3s ease;
  gap: 1rem;
}

.image {
  width: 220px;
  height: 220px;
  border-radius: 40px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.calendarBox {
  margin-right: 5rem;
  transition: all 0.3s ease;
}

.postsBox {
  min-width: 300px;
  min-height: 300px;
  padding: 1rem;
  background-color: #f8f8f8;
  border-radius: 1rem;
  box-shadow: 0 0 10px rgba(0,0,0,0.05);
  text-align: left;
  flex: 1;
}

.leftBox {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 5rem;
  margin-left: 5rem;
  transition: all 0.3s ease;
  justify-content: space-around;
  width: 100%;
}

.expanded {
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  gap: 3rem;
}

.profileExpanded {
  flex-direction: row;
  align-items: center;
  text-align: left;
}

.textBox {
  margin-left: 1rem;
}

.nameRow {
  display: flex;
  align-items: baseline;
  gap: 0.5rem;
}

.username {
  font-weight: bold;
  font-size: 2rem;
}

.userid {
  font-size: 1.5rem;
  color: #666;
  margin: 0;
}

.intro {
  font-size: 1.5rem;
  color: #444444;
  margin: 0;
}

.expanded .image {
  width: 100px;
  height: 100px;
}