.date {
  font-size: 0.9rem;
  color: #888;
}

.titleInput {
  width: 100%;
  box-sizing: border-box;
  font-size: 1.2rem;
  font-weight: bold;
  padding: 0.5rem;
  border: none;
}

.textarea {
  width: 100%;
  font-size: 1rem;
  padding: 0.75rem;
  border: none;
  font-family: inherit;
  resize: none;
  overflow: hidden;
  box-sizing: border-box;
}

.titleInput:focus,
.textarea:focus {
  outline: none;
}

.saveBtn {
  align-self: flex-end;
  background-color: D9D9D9;
  color: black;
  padding: 0.5rem 1.2rem;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.header {
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.fullscreenBtn {
  border: none;
  background: none;
  font-size: 1.1rem;
  cursor: pointer;
}

.closeBtn {
  border: none;
  background: none;
  font-size: 1.3rem;
  cursor: pointer;
}

input:focus-visible,
textarea:focus-visible {
  outline: none;
  box-shadow: none;
}