.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.3);
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 1000;
}
  
.popup {
  background-color: #fff;
  padding: 2rem;
  width: 700px;
  height: 500px;
  border-radius: 12px;
  box-shadow: 0 10px 30px rgba(0, 0, 0, 0.1);
  position: relative;
}

.header {
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.fullscreenBtn {
  border: none;
  background: none;
  font-size: 1.1rem;
  cursor: pointer;
}

.closeBtn {
  border: none;
  background: none;
  font-size: 1.3rem;
  cursor: pointer;
}